<h1><%= @garage.name %></h1>
  <% if @garage.cars.empty? %>
    <p><%= @garage.name %> garage is empty!</p>
  <% else %>
    <% @garage.cars.each_with_index do |car, index| %>
      <% user = @users.detect { |user| user.id == car.user_id } %>
      <h4>Car <%= "#{index+1}" %> by <%= user.username %></a></h4>
      <p>Make: <%= car.make %></p>
      <p>Model: <%= car.model %></p>
      <p>Color: <%= car.color %></p>
  <% if user == current_user %>
    <a href='/cars/<%= car.id %>/edit'>Edit car</a>
    <form method='post' action='/cars/<%= car.id %>/delete'>
      <input type='hidden' name='_method' value='delete'>
      <input type='submit' name='delete' value='Delete Car'>
    </form>
      <% end %>
    <% end %>
  <% end %>
<hr>

<h4>Add a Car!</h4>
  <form method='post' action='/cars'>
    <input type='hidden' name='garage_id' value='<%=@garage.id%>'> 
    <p>Make:<input type='text' name='make'></p><br>
    <p>Model:<input type='text' name='model'></p><br>
    <p>Color:<input type='text' name='color'></p><br>
    <input type='submit' value='Add'>
  </form>