<h1><%= @garage.name %></h1>
<% if @garage.cars.empty? %>
<p><%= @garage.name %> garage is empty!</p>
   else
   <% @garage.cars.each do |car| %>
    <% user = @users.detect { |user| user.id == car.user_id } %>
    <p><%= car.content%> by <a href='/users/<%= user.id %>'><%= user.username %></a></p>
    <% if user == current_user %>
      <div class='current_user_actions_review_<%=car.id%>'>
        <a href='/cars/<%= car.id %>/edit'>edit car</a>
        <form method='post' action='/cars/<%= car.id %>/delete'>
          <input type='hidden' name='_method' value='delete'>
          <input type='submit' name='delete' value='Delete Car'>
        </form>
      </div>
      <% end %>
    <% end %>
    <hr>
  <% end %> 