<h1>Welcome <%= @user.username %>! Here are all your cars!</h1>

<% if @user.cars.empty? %>
   <p>Hmm... Seems like you dont have any cars.</p>
   <a href='/garages/new'>Click here to add!</a>
<% else @user == current_user %>
   <% @user.cars.each do |car| %>
    <p>Garage: <a href='/garages/<%= car.garage_id %>'>View</a>
      <p>Make: <%= car.make %></p>
      <p>Model: <%= car.model %></p>
      <p>Color: <%= car.color %></p>
      <a href='/cars/<%= car.id %>/edit'>Edit car</a>
      <form method='post' action='/cars/<%= car.id %>/delete'>
        <input type='hidden' name='_method' value='delete'>
        <input type='submit' name='delete' value='Delete Car'>
      </form>
    <% end %>
  <% end %>