<h1>Welcome <%= @user.username %>! Here are all your cars!</h1>

<% if @user.cars.empty? %>
   <p>Hmm... Seems like you don't have any cars.</p>
   <a href='/garages/new'>Click here to add!</a>
    <% else %>
    <% @user.cars.each do |car| %>
      <% garage = @garages.detect { |garage| garage.id == car.garage_id } %>
      <p>Inside<a href='/garages/<%= garage.id %>'><%= garage.name %></a>:</p>
      <p><%= car.make %></p>
      <p><%= car.model %></p>
      <p><%= car.color %></p>
      <a href='/cars/<%= car.id %>/edit'>Edit car</a>
      <form method='post' action='/cars/<%= car.id %>/delete'>
        <input type='hidden' name='_method' value='delete'>
        <input type='submit' name='delete' value='Delete Car'>
      </form>
      <% end %>
    <% end %>